.board-introduction {
    width: 85%;
    margin: auto;
    margin-bottom: 3vh;
}

.board-introduction p {
    margin-top: 1vh;
    font-style: italic;
}

.newtopic {
    width: 69%;
    margin: auto;
    margin-bottom: 5vh;
    border: 1px solid black;
    padding: 2%;
}

.standart-input {
    width: 75%;
    margin-bottom: 1vh;
}

.newtopic textarea {
    margin-top: 2vh;
    margin-bottom: 2vh;
}



.thread-section {
    width: 90%;
    margin: auto;
}

.topic {
    background-color: rgba(240, 240, 240, 255);
    padding: 0.5%
}

.answer-button {
    display: flex;
    justify-content: center;
}

.post {
    width: 90%;
    background-color: rgba(200, 200, 200, 255);
    padding: 0.5%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.first-post {
    width: 99%;
    background-color: rgba(185, 185, 200, 255);
    font-size: 1.1em;
    padding: 0.5%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.first-post .post-image {
    display: block;
    max-width: 35%;
    height: auto;
}
.first-post .post-image img {
    width: 100%;
    height: auto;
}

.post-header {
    display: flex;
}

.post-header h3 {
    margin-right: 2vw;
    font-size: 1.25rem;
    font-weight: 700;
}

.post-header p {
    margin-right: 0.8vw;
}

.post .post-image {
    display: block;
    max-width: 18%;
    max-height: auto;
}

.post .post-image img {
    width: 100%;
    height: auto;
}

