body {
    align-items: center;
}
.boards {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-flow: row wrap;
}
.board_column {
    flex: 1 1 auto;
}

.board_collection ul {
    list-style: none;
}