<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пашач</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/css/boards.css">
  <link rel="stylesheet" href="/styles/css/basic-configuration.css">
</head>
<body>
<header th:insert="fragments/heading :: heading" />
<section class="board-introduction">
  <h2 th:text="${board_name}" />
  <p th:text="${board_desc}" />
</section>

<section class="newtopic">
  <form th:action="@{__${board_code}__/add}" enctype="multipart/form-data" method="POST">
    <div class="standart-input"><input type="text" name="author_pseudo" placeholder="Анон" class="form-control"/></div>
    <div class="standart-input"><input type="text" name="title" placeholder="Заголовок" class="form-control"/></div>
    <textarea name="post_content" placeholder="Текст поста" class="form-control"></textarea>
    <input type="file" name="picrel" accept="image/png, image/jpeg">
    <button type="submit" class="btn btn-success">Создать тред</button>
  </form>
</section>

<section class="thread-section">
    <section class="topic" th:each="topic : ${topics}">
        <div class="answer-button">
            <form th:action="@{__${board_code}__/__${topic.getThread_id()}__}">
                <button type="submit" th:name="|btn${topic.getThread_id()}|" >Ответить в тред</button>
            </form>
        </div>
        <section th:class="${iterStat.index == 0 ? 'first-post' : 'post'}" th:each="post, iterStat : ${topic.getPosts()}" th:if="${iterStat.index} < 2 or ${topic.getPosts().size()} - ${iterStat.index} < 3">
            <div class="post-header">
                <div th:if="${iterStat.index} == 0"><h3 th:text="${topic.getTitle()}"/></div>
                <div th:each="img: ${post.getPickrelated()}">
                    <img th:src="${img.getImagepath()}">
                </div>
                <p th:text = "${post.getAuthorPseudo()}"/>
                <p th:text="${post.getCreationDate()}"/>
                <p th:text="${post.getId()}"/>

            </div>
            <p th:text="${post.getPostContent()}"/>
            <div th:if="${iterStat.index} == 1 and ${topic.getPosts().size()} > 4">
                <hr>
                <p>...</p>
                <hr>
            </div>
        </section>
    <br>
    </section>
</section>

</body>
</html>