<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пашач</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/main-page.css}">
</head>
<body>
    <header class="px-4 py-5 my-5 text-center">
        <img>
        <h1>Паша.Ч</h1>
    </header>
    <section class="introduction">
        <h1>Пашач 1.0 - первая итерация веб-познания</h1>
        <p>Пашач 1.0 - учебный сайт-имиджборда, разработанная Никитином Павлом в целях освоения базовых концептов веб-разработки с использованием Java Spring, PostgreSQL, Bootstrap.</p>
        <p>Всего планируется 3 версии имиджборды Пашач.</p>
        <article class="introduction-versions">
            <h2>Пашач 1.0 - Базовая функциональность</h2>
            <p>В этой версии Пашача будет разработана его базовая функциональность, такая как:</p>
            <ul>
                <li>Разбиение сайта на доски;</li>
                <li>Создание тредов;</li>
                <li>Постинг сообщений с возможностью подписываться;</li>
                <li><b>Прикладывание картинок</b> (основная учебная задача разработки);</li>
                <li>Доступ из всемирной телекомунникационной сети "Интернет", обеспеченный использованием ПК в качестве сервера.</li>
            </ul>
            <p>Таким образом, первая версия разработки позволит доосвоить и закрепить базовые навыки разработки веб-приложений на Java Spring, подробнее углубиться в вопрос хранения медиа-ресурсов на сервере, разобраться с основами настройки персонального сервера.</p>
        </article>
        <article class="introduction-versions">
            <h2>Пашач 2.0 - Прикрытие вольницы</h2>
            <p>В этой версии Пашача будет разработан его функционал, закрытый от глаз рядового пользователя, такой как</p>
            <ul>
                <li>Скрытая система аккаунтов с использованием Spring Security;</li>
                <li>Панель администрирования - создание и удаление досок, менеджмент банов, состава пользователей, закреплёных тредов;</li>
                <li>Инструменты модерации сайта - удаление и изменение постов, блокировка по IP, архивация тредов и запрет на ответ в них;</li>
                <li>Внедрение базовых средств аналитики.</li>
            </ul>
            <p>Таким образом, вторая версия разработки позволит на практике освоить создание механизмов аутентификации с помощью Spring Security и разработать средства опосредованного управления сайтом без допуска к его исходному коду.</p>
        </article>
        <article class="introduction-versions">
            <h2>Пашач 3.0 - Глобальная безопасность</h2>
            <p>В последней предполагаемой версии Пашача будут произведены, главным образом, нефункциональные, но архитектурные доработки сайта. Планируется:</p>
            <ul>
                <li>Переработка архитектуры баз данных под большие объёмы;</li>
                <li>Увеличение безопасности сайта, защиты от взлома сайта;</li>
                <li>Размещение сайта на внешнем, возможно облачном сервере с соответствующей настройкой;</li>
                <li>Приобретение домена во всемирной телекоммуникационной сети "Интернет" и его присвоение сайту.</li>
            </ul>
            <p>Таким обрахом, третья версия имиджборды Пашач позволит ей являться полноценным, с технической точки зрения, продуктом, способным реализовывать базовый функционал имиджборд.</p>
        </article>
    </section>
    <section class="boards text-center">
        <tr th:each="brd : ${boards}">
            <td><a th:text="${brd.getName()}" th:href="${brd.getCodename()}" target="_blank"/><br></td>
        </tr>
    </section>
    <br><br><br>
</body>
</html>