<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пашач</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/css/topics.css">
    <link rel="stylesheet" href="/styles/css/basic-configuration.css">
    <script type="text/javascript" src="/scripts/js/topic.js"></script>
</head>
<body>
<header th:insert="fragments/heading :: heading" />
<section class="new-post">
    <form th:action="@{__${topic_id}__/add}" method="POST">
        <input type="text" name="author_pseudo" placeholder="Анон" class="form-control pseudo-input"/>
        <textarea id="basic_post_area" name="post_content" placeholder="Текст поста" class="form-control textinp"></textarea>
        <button type="submit" class="btn btn-success">Добавить ответ</button>
    </form>
</section>
<section class="thread-zone">

    <div th:each="post, iterStat : ${posts}" th:class="${iterStat.index == 0 ? 'first-post' : 'post'}">
        <h3 th:if="${iterStat.index} == 0" th:text="${topic_title}" />
        <div class="post-header">
            <p class="post-author" th:text="${post.getAuthorPseudo()}" />
            <p class="post-date" th:text="${post.getCreationDate()}" />
            <p th:text="${post.getId()}" />
        </div>
        <p th:text="${post.getPostContent()}" />
        <form>
            <button type="button" th:onclick="|javascript:answerPost('__${post.getId()}__')|">Ответить</button>
        </form>
    </div>
</section>
</body>